{% load static %}

<html lang="pt/br">
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Cadastro MD</title>
</head>
<body>
    <form name="publication" action="publication/done" method="post">
    <nav class="nav">
        <img src="../static/images/Bayer.png" alt="">
        <img src="../static/images/MarketDevelopment_LATAM_WordMark.png" style="margin-left: 20px" alt="">
    </nav>
    <header>
        <b>Cadastro Funcionários</b>
    </header>

    <main class="container">

            {% csrf_token %}
            <section class="left">
                <label >Região:</label>
                <select class="app-form-control" name="regiao">
                    <option value="BRASIL">BRASIL</option>
                    <option value="NORLA">NORLA</option>
                    <option value="CONOSUR">CONOSUR</option>
                </select>
                <label >País:</label>
                <input type="text" placeholder="País" name="pais">
                <label >Nome:</label>
                <input type="text" placeholder="Nome" name="nome">
                <label >Cargo:</label>
                <input type="text" placeholder="Cargo" name="cargo">
                <label >Time:</label>
                <select class="app-form-control" name="time">
                    <option value="A&KT">A&KT</option>
                    <option value="AS&D, Integration">AS&D, Integration</option>
                    <option value="All MD Team">All MD Team</option>
                    <option value="Corn & Sorghum">Corn & Sorghum</option>
                    <option value="Crop Protection">Crop Protection</option>
                    <option value="MDR & FOE">MDR & FOE</option>
                    <option value="Soybean & Cotton">Soybean & Cotton</option>
                </select>
            </section>
            <section class="right">
                <label >Email:</label>
                <input type="text" placeholder="Email" name="email">
                <label >Telefone:</label>
                <input type="text" placeholder="Telefone" name="telefone">
                <label >CPF:</label>
                <input type="text" placeholder="CPF" name="cpf">
                <label >RG:</label>
                <input type="text" placeholder="RG" name="rg">
                <label >Data de Nascimento:</label>
                <input type="text" placeholder="Data de Nascimento" name="data_de_nascimento">
            </section>
    </main>

    <footer>
        <input type="submit" value="Cadastrar" style="margin-top: 100px">
    </footer>
    </form>
</body>
</html>


