nav{
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: white;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100px;

}

.nav img{
    height: 100%;
}

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 30px;
    background-position: center;
    background-color: teal;
    color: white;
    font-size: 20px;

}


.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

section{
    align-items: center;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 40px;
}

input{
    height: 50px;
    width: 400px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

